
# Ignore node modules 
node_modules

# Ignore macOS metadata
.DS_Store

# Ignore Go binaries
tmp

#Ignore React build
build

# Ignore local environment files
.env
.env.*
!.env.example

# Ignore local development TLS keys
cmd/react_dashboard/keys/*
